
body{
  padding:0 0;
  margin:0 0; 
  font-family: 'Roboto', sans-serif;
}
.header{
  background: url("../images/banner.jpg") no-repeat;
  background-size: cover;
  min-height:865px;
}
.header-top {
  padding: 2.5em 0;
  background-color: rgba(215, 232, 236, 0.22);
 }

.logo {
  float: left;
}
.logo h1 {
   color: #d6ff00;
   font-size:42px;
   text-decoration: none;
   margin:-2px;
}
.logo a {
  display: block;
}
.top-menu{
  float: right;
    margin-top: 0.2em;
}
.top-menu ul li{
  display: inline-block;
  padding-top: 0.3em;
}
.top-menu ul li a {
  color: #fff;
  text-decoration: none;
  margin: 0 0.5em;
  font-size: 1.4em;
  text-transform: capitalize;
}
.top-menu ul li a.active {
  color: #d6ff00;
}
.right-grid h3 {
  font-size: 2.5em;
  color: #000000;
}
.top-menu ul li a:hover{
   color: #d6ff00;
}


.slider {
  position: relative;
  text-align: center;
  
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }
.rslides h3{
  color: #fff;
  font-size: 3.5em;
  width: 73%;
  margin: 5em auto 0;
  font-weight: 400;
  text-transform:uppercase;
    line-height: 1.2em;
}
.rslides h3 span {
  color: #d6ff00;
}
.rslides h2{
  color: #fff;
  font-size: 3em;
  width: 73%;
  text-align: center;
  margin: 6em auto 0;
  font-weight: 400;
    line-height: 1.2em;
}
.rslides h2 span {
  color: #d6ff00;
  font-size: 1em;
  text-transform: uppercase;
}
.rslides p{
  color: #fff;
  font-size: 2.2em;
  font-weight: 300;
  text-align: center;
  }
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }
.callbacks_tabs a:after {
  content: "\f111";
  font-size: 0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  height: 8px;
  width: 8px;
  display: inline-block;
  border: 2px solid #fff;
  border-radius:50%;
  background:#fff;
}
.callbacks_here a:after{
  border: 2px solid #FFF;
  background:transparent;
}
.callbacks_tabs a{
  visibility:hidden;
}
.callbacks_tabs li{
  display:inline-block;
}
ul.callbacks_tabs.callbacks1_tabs {
  position: absolute;
  bottom: 29px;
  z-index: 999;
  left: 46%;
  display: none;
}
.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 73%;
  left: 15%;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("../images/gif.png") no-repeat 0px 0px;
  margin-top: -45px;
  }
.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 15%;
 }
.center-icon{
  background: url("../images/icon.png") no-repeat;
  width: 110px;
  height: 110px;
  position: absolute;
  top: 55%;
  right: -7%;
}
.concepto{
  padding: 100px;
  text-align: center;
  background: #F7F7F7;
}
.concepto h2{
  font-family: 'Cabin', sans-serif;
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 22px;
}/**/
.concepto p {
  font-size: 21px;
}
.concepto h2{
  color: #7bc475;
}
/*----*/
div#about {
  padding: 8em 0;
  background: #fff;
}

.feature-section {
  text-align: center;
}
.col-md-3.feature-grid {
  border: 2px solid #F2F2F2;
  width: 21%;
  margin: 2px 12px;
  text-align: center;
  position: relative;
  padding-bottom: 2em;
}
.feature-section h3 {
  color: #404042;
  font-size:3em;
  text-decoration: none;
  font-weight:700;
  font-family: 'Cabin', sans-serif;
  
    letter-spacing: 2px;letter-spacing: 2px;

}
.feature-grid h4 {
  color: #000000;
  font-size:1.35em;
  text-decoration: none;
  font-weight:900;
  text-transform:uppercase;
   font-family: 'Lato', sans-serif;
   margin: 0;
  padding: 49px 0px 1px 0;

}
.feature-grid  p{
  color: #444444;
  font-size: 1.15em;
  line-height: 1.7em;
  margin: 0.5em auto;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  width: 99%;
}
.feature-grids {
  margin: 6em 0 4em 12em;
}
.features img{
  width: 100%;
  margin-top: 17px; 
}
.utilizar{
  background: url('../images/1.jpg');
  height: 350px;
  background-repeat: no-repeat;
  margin-top: 18px;
}
.utilizarr{
  background: url('../images/girl.jpg');
  height: 350px;
  background-repeat: no-repeat;
  margin-top: 18px;
}
.ventajas{
  padding: 100px;
  background-color:#F7F7F7 ;
}
.desventajas{
  padding: 100px;
}
.ventajas h2{
  font-size: 3em;
  font-weight: 700;
  margin-top: 0px;
  text-align: center;
  letter-spacing: 2px;
  color: #7bc475;
}
.desventajas h2{
  color: #7bc475;
  font-size: 3em;
  font-weight: 700;
  margin-top: 0px;
  text-align: center;
  letter-spacing: 2px;
}
.ventajas li{
  font-size: 15px;

}
.desventajas li{
  font-size:15px;

}
.recomendacion{
  background: url("../images/banner.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  padding: 40px;
}
.recomendacion p{
  font-size: 50px;
  color: white ;
  text-align: center;
  letter-spacing: 2px;
}
.video{
  padding: 100px;
  background: #F7F7F7;
}
.box-consejo{
  background-color: white;
  padding: 49px;
  font-size: 18px;
  margin-top: 30px;
}
footer{
  background: black;
  color: white ;
  padding: 10px;
  font-size: 13PX;
  text-align: center;
}